<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <!-- SEO Meta Tags-->
    <meta name="keywords" content="quicky, chat, messenger, conversation, social, communication"/>
    <meta name="description"
          content="Quicky is a Bootstrap based modern and fully responsive Messaging template to help build Messaging or Chat application fast and easy."/>
    <meta name="subject" content="communication">
    <meta name="copyright" content="frontendmatters">
    <meta name="revised" content="Sunday, July 18th, 2010, 5:15 pm"/>
    <title>Forgot Password</title>
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/userResources/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/userResources/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/userResources/images/favicon-16x16.png">
    <link rel="shortcut icon" href="./../favicon.ico"/>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../../static/userResources/css/inter.css">
    <link rel="stylesheet" href="../../static/userResources/css/app.min.css">
</head>

<body class="authentication-page">

<!-- Main Layout Start -->
<div class="main-layout card-bg-1">
    <div class="container d-flex flex-column">
        <div class="row no-gutters text-center align-items-center justify-content-center min-vh-100">
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <h1 class="font-weight-bold">Forgot Reset</h1>
                <p class="text-dark mb-3">Enter your email address to reset password.</p>
                <form class="mb-3" action="/insertForgotPassword" method="post">
                    {% csrf_token %}

                    <!-- Email -->
                    <div class="form-group">
                        <label for="email" class="sr-only">Email Address</label>
                        <input name="loginUserName" type="email" class="form-control form-control-md" id="email"
                               placeholder="Enter your email">
                    </div>

                    <p>Password will be send in your Email by p2ploans2020@gmail.com</p>

                    <!-- Submit -->
                    <button class="btn btn-lg btn-block btn-primary  text-uppercase font-weight-semibold" type="submit">
                        Submit
                    </button>
                </form>

                {% if userNotExist %}
                    <p>{{ userNotExist }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Main Layout End -->


<!-- Javascript Files -->
<script src="../../static/userResources/js/jquery-3.5.0.min.js"></script>
<script src="../../static/userResources/js/bootstrap.bundle.min.js"></script>
<script src="../../static/userResources/js/svg-inject.min.js"></script>
<script src="../../static/userResources/js/app.js"></script>

</body>

</html>